.wikibox {
  margin: 0 48px;
  max-width: 450px;
}

.wikibox .panel-container {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.wikibox h3 {
  font-size: 1.5rem;
  margin-top: 12px;
}

.wikibox .subtitle {
  color: #535353;
}

.wikibox .panel {
  background-color: #fff;
  border: 1px solid #edecec;
  flex: 0 0 100%;
  height: max-content;
  left: 0;
  margin-bottom: 48px;
  margin-top: 75px;
  position: absolute;
  transition: left 1s ease-in-out;
}

.wikibox .panel.transition-in {
  animation: 0.3s ease-in skew-in;
}

.wikibox .panel.transition-out {
  animation: 0.3s ease-out skew-out;
}

@keyframes skew-in {
  0% {
    opacity: 0;
    transform: skew(0deg, -35deg) scale(80%, 100%) translate3d(25px, 0, -200px);
    transform-origin: center;
  }
  50% {
    opacity: 0.5;
    transform: skew(0deg, -15deg) scale(90%, 100%) translate3d(15px, 0, -100px);
  }
  100% {
    opacity: 1;
    transform: skew(0deg, 0deg) scale(100%, 100%) translate3d(0, 0, 0);
  }
}

@keyframes skew-out {
  0% {
    opacity: 1;
    transform: skew(0deg, 0deg) scale(100%, 100%) translate3d(0, 0, -100px);
    transform-origin: center;
  }
  50% {
    opacity: 0.5;
    transform: skew(0deg, 15deg) scale(90%, 100%) translate3d(-15px, 0, -150px);
  }
  100% {
    opacity: 0;
    transform: skew(0deg, 35deg) scale(80%, 100%) translate3d(-25px, 0, -200px);
  }
}

.wikibox .panel-footer,
.wikibox .panel-lead,
.wikibox .panel-description,
.wikibox .panel-social-links,
.wikibox .panel-detail {
  padding: 24px;
}

.wikibox .panel-footer,
.wikibox .panel-lead,
.wikibox .panel-social-links {
  text-align: center;
}

.wikibox .panel-lead img {
  background-color: #fff;
  border-radius: 4px;
  height: auto;
  margin: -75px auto 0;
  width: 250px;
}

.wikibox .panel-description,
.wikibox .panel-detail,
.wikibox .panel-footer,
.wikibox .panel-social-links {
  border-top: 1px solid #edecec;
}

.wikibox .panel-detail dt,
.wikibox .panel-detail dd {
  display: inline;
}

.wikibox .panel-detail dd::after {
  content: "";
  display: block;
  margin-bottom: 12px;
}

.wikibox .panel-detail dt {
  font-weight: bold;
}

.wikibox .panel-footer {
  background-color: #f1f3fc;
  color: #212121;
  padding-bottom: 0;
  padding-top: 0;
}

.wikibox .panel-footer a {
  background-color: #f1f3fc;
  border-bottom: 1px solid #edecec;
  border-radius: 50%;
  display: inline-block;
  padding: 30px 10px 10px;
  position: relative;
  text-decoration: none;
  top: 26px;
  width: 125px;
}

.wikibox .panel-footer a::after {
  content: "";
  display: block;
  background: transparent url("../../media/icons/more.svg") 0 0 no-repeat;
  background-size: 24px;
  height: 24px;
  margin: 0 auto;
  width: 24px;
}
