.pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: 60px;
  z-index: 99;
}

.pagination li {
  display: inline;
}
